<div class="w-full h-[100vh] bg-slate-700 flex justify-center items-center" id="main">
  <div class="w-80 h-[30rem] md:h-[40rem] bg-white opacity-75  md:w-[50rem] lg:w-[50rem] rounded-md overflow-hidden shadow-2xl" id="weather-container">
    <div class="w-full h-full bg-gradient-to-br from-black/50 to-neutral-500/50
          flex flex-col">
      <div class="w-full bg-white h-20 flex justify-center items-center">
        <h1 class="text-4xl">Climate-pro</h1>
      </div>
    </div>
  </div>
</div>
